<html>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/header.css">

  <head>
    <title>{{ .Site.Title }}</title>
  </head>

  <header>
    <div class="header">
      <h2><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
      {{- if .Site.Params.subtitle -}}
        <p>{{ .Site.Params.subtitle }}</p>
      {{- end -}}
    </div>
    <div class="navigation">
      <h4> /
      {{- range .Site.Pages.ByTitle -}}
        {{- if eq .Type "static"}}
          <a href="{{ .Permalink }}">{{ .Title }}</a> /
        {{- end -}}
      {{- end }}
      {{ with .Site.Params.github }}<a href="{{ . }}">github</a>{{ end }} /
      </h4>
    </div>
  </header>

  <body>
